
#shoppingCart {
    width: 30%;
    position: fixed;
    right: 0;
    top: 100px;
    bottom: 0;
    box-shadow: -2px 1px 17px 5px rgba(199, 199, 199, 0.43);
    background-color: white;
    transition: all 225ms ease-in-out;
}